<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <%-include("./composant/header")%>
  <body class="body">
    <div class="contact">
      <div class="hello">
        <h1 class="pnl">Bonjour </h1>
        <h2 class="pnl">Pour plus d'information veuillez rempli le formulaire</h2>
      </div>
      <div class="form1">
        <form action="" class="form2">
          <div>
            <input type="text" placeholder="Nom" />
          </div>
          <div>
            <input type="text" placeholder="Prenom" name="" id="" />
          </div>
          <div>
            <input type="text" placeholder="Number" id="" />
          </div>
          <div>
            <input type="email" placeholder="Votre Mail" id="" />
          </div>
          <button>Register</button>
        </form>
      </div>
    </div>
  </body>
</html>
