<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="styleC.css" />
  </head>
  <%-include("./composant/header")%>
  <body>
    <div class="gt">
        <main>
          <section class="sec1">
            <h1>Trouver un Services</h1>
            <div class="spec">
              <div>
                <a href="#">Pilotage des instances représentatives du personnel.</a>
              </div>
              <div>
                <a href="#">Audits sociaux.</a>
              </div>
              <div>
                <a href="#">Concurrence déloyale.</a>
              </div>
              <div>
                <a href="#">Procédures de licenciement collectifs.</a>
              </div>
              <div>
                <a href="#">Suivi juridique des sociétés.</a>
              </div>
              <div>
                <a href="#">Contentieux en droit pénal du travail .</a>
              </div>
              <div>
                <a href="#">Contentieux en droit du travail et de la sécurité sociale.</a>
              </div>
            </div>
          </section>
        </main>
    </div>
  </body>
</html>
