*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.pnl{
    color:#fff;
}
header{
    background-color: #e7e4e3;
    margin: 0;
    width: 100%;
}
nav{
    position: relative;
}

nav a:hover{
    color: white;
}
.contact{
    display: flex;
    justify-content: center;
    width: 50%;
    text-align: center;
    margin: 25px auto;
    padding-top: 125px;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 100px;
}

.hello{
    height: 400px;
    width: 50%;
    background: no-repeat center center/cover url(https://www.petitesaffiches.fr/local/cache-gd2/53/b2139c9ace0fe0ba619621eef8ad13.png?1690292595);
    margin: 0;
    padding: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px ;
}
.form1{
    background-color: #fff;
    width: 50%;
    left: 0;
    padding: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
}
.form2 input{
    padding: 12px 0px;
    margin: 8px 0;
    border: none;
    background-color: #fff;
    outline: none;
    border-bottom: 2px solid #adadad;
    width: 100%;
}

.body{
    background: url(https://images.unsplash.com/photo-1589578527966-fdac0f44566c?auto=format&fit=crop&q=60&w=400&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8ZHJvaXR8ZW58MHx8MHx8fDA%3D) center/ cover no-repeat;
    height: 800px;
}
button{
    border-radius: 10px;
    padding: 10px;
    background-color:#F56E12;
    border-style: none;
    width: 50%;
    margin-top: 10px;
    cursor: pointer;
}
.fle{
    font-size: 90px;
    color: #fff;
}
.presentation{
    background: url(https://images.unsplash.com/photo-1589578527966-fdac0f44566c?auto=format&fit=crop&q=60&w=400&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8ZHJvaXR8ZW58MHx8MHx8fDA%3D) center/cover no-repeat;
    width: auto;
    height: 850px;
    text-align: center;
    padding-top: 10%;
}
.presentation h1{
    color: white;
    font-size: 50px;
    text-align: center;
}
.presentation p{
    color: white;
    font-size: 25px;
    text-align: center;
}
.bP{
    border-radius: 15px;
    width: 15%;
    color: white;
    font-style: bold;
    background: rgb(238, 238, 120);
}
.bP:hover{
    background: rgb(204, 202, 199);
}
.localite h1{
    text-align: center;
}
.localite{
    background-color: #adadad;
   
}
.localisation a{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
.localisation div{
    margin: 15px;
    text-align: center;
}
.localisation a:hover{
    background-color: black;
    color: #fff;
    
}
.pnl{
    color: #fff;
    font-size: xx-large;
    padding-top: 23px;
}
.dd {
    font-size: 10px;
    font-style: italic;
}

.localisation {
   display: flex;
   justify-content: center calc(100% -25%);
}
.trouver {
    color: white;
    font-style: italic;
    font-size: 2rem;
}
